<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Taipei Trip 台北一日遊</title>
    <link href="../static/index.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <section id="fixed">
        <nav>
            <div class="site">台北一日遊</div>
            <div class="one"><a>預定行程</a></div>
            <div class="two"><a>登入/註冊</a></div>
        </nav>
    </section>
    <div class="color">
        <div class="home">
            <div id="line1">輕鬆享受台北一日悠閒</div>
            <div id="line2">探索每個角落，體驗城市的深度旅遊行程</div>
            <input type="text" id="sbox" name="search" value="輸入景點名稱查詢"></input>
            <button id="btn" onclick="search();"><span></span></button>
        </div>
    </div>
    <section>
        <main id="main"></main>
    </section>
    <div class="end" id="target">
        <div id="copyright">COPYRIGHT © 2021 台北一日遊</div>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>