<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1">
    <title>Taipei Trip 台北一日遊</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="./spots.js"></script>
</head>
<body onload="show();">
    <section id="fixed">
        <nav>
            <div class="site">台北一日遊</div>
            <div class="one"><a>預定行程</a></div>
            <div class="two"><a>登入/註冊</a></div>
        </nav>
    </section>
    <div class="color">
        <div class="home">
            <div id="line1">輕鬆享受台北一日悠閒</div>
            <div id="line2">探索每個角落，體驗城市的深度旅遊行程</div>
            <form>
                <input type="text" id="sbox" name="search" value="輸入景點名稱查詢"></input>
                <button id="btn"><span></span></button>
            </form>
        </div>
    </div>
    <section>
        <main>
            <div class="box">
                <div class="img-box">
                    <img src="https://cdn.dribbble.com/users/6226243/screenshots/14545195/rainbow.jpg" class="img"></img>
                </div>
                <div class="s-title">平安鐘</div>
                <div id="info">
                    <div class="s-info1">平安鐘</div>
                    <div class="s-info2">平安鐘</div>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="https://cdn.dribbble.com/users/6226243/screenshots/14545195/rainbow.jpg" class="img"></img>
                </div>
                <div class="s-title">平安鐘</div>
                <div id="info">
                    <div class="s-info1">平安鐘</div>
                    <div class="s-info2">平安鐘</div>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="https://cdn.dribbble.com/users/6226243/screenshots/14545195/rainbow.jpg" class="img"></img>
                </div>
                <div class="s-title">平安鐘</div>
                <div id="info">
                    <div class="s-info1">平安鐘</div>
                    <div class="s-info2">平安鐘</div>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="https://cdn.dribbble.com/users/6226243/screenshots/14545195/rainbow.jpg" class="img"></img>
                </div>
                <div class="s-title">平安鐘</div>
                <div id="info">
                    <div class="s-info1">平安鐘</div>
                    <div class="s-info2">平安鐘</div>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="https://cdn.dribbble.com/users/6226243/screenshots/14545195/rainbow.jpg" class="img"></img>
                </div>
                <div class="s-title">平安鐘</div>
                <div id="info">
                    <div class="s-info1">平安鐘</div>
                    <div class="s-info2">平安鐘</div>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="https://cdn.dribbble.com/users/6226243/screenshots/14545195/rainbow.jpg" class="img"></img>
                </div>
                <div class="s-title">平安鐘</div>
                <div id="info">
                    <div class="s-info1">平安鐘</div>
                    <div class="s-info2">平安鐘</div>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="https://cdn.dribbble.com/users/6226243/screenshots/14545195/rainbow.jpg" class="img"></img>
                </div>
                <div class="s-title">平安鐘</div>
                <div id="info">
                    <div class="s-info1">平安鐘</div>
                    <div class="s-info2">平安鐘</div>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="https://cdn.dribbble.com/users/6226243/screenshots/14545195/rainbow.jpg" class="img"></img>
                </div>
                <div class="s-title">平安鐘</div>
                <div id="info">
                    <div class="s-info1">平安鐘</div>
                    <div class="s-info2">平安鐘</div>
                </div>
            </div>
        </main>
    </section>
    <div class="end">
        <div id="copyright">COPYRIGHT © 2021 台北一日遊</div>
    </div>
</body>
</html>